html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title ManiStu || Not Found
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
      // My CSS //
    link(rel='stylesheet' href='/style.css')

.wrapper
  .container
    h1 Ooops
    h2 Sorry, we could find the page you were looking for...
    form.form(id = "form-login" action="/home" method="get" enctype='application/x-www-form-urlencoded')
      button#login-button() Home
  ul.bg-bubbles
    li
    li
    li
    li
    li
    li
    li
    li
    li
    li
