html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title ManiStu || About
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
      // My CSS //
    link(rel='stylesheet' href='/style.css')

.wrapper
  include sidenav
  .container
    h1 What is ManiStu
    video(width='600' height="300" controls='')
        source(src='mov_bbb.mp4' type='video/mp4')
        |   Your browser does not support HTML video.

    form.form(id = "form-login" action="/login" method="post" enctype='application/x-www-form-urlencoded')
      button#login-button(href='/home') Home
  ul.bg-bubbles
    li
    li
    li
    li
    li
    li
    li
    li
    li
    li
