doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title ManiStu || Edit Assessment
    link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.css')
    link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
    link(rel='stylesheet' href='/style.css')
    script(src='https://unpkg.com/swiper/swiper-bundle.js')
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')





.wrapper
    include sidenav
    .aboutBackground
        .heading
            h1 Welcome to ManiStu
                .para
                    p ManiStu is a tool designed for teachers to allow them to keep track of a student's behavior in lessons.
                        .video
                            iframe.embed-responsive-item(src="https://www.youtube.com/embed/Gb8hjlZtMIM",allowfullscreen='')




// input.comments( id = 'comments' type='json' name='comments' value=assessment.comments)