div.displayStudentInfoTHIS
    img.profilePic(src=(student.imageUrl), alt="Image Title")
    h1= 'Selected Student: ' + (student.name)
    h2= 'Year of Study: ' + (student.year)
    p= (student.name) + " currently has " + (student.assessments.length) + ' assesssments submitted'