div.teacherDisplay
    img.profilePic(src=(teacher.imageUrl), alt="Image Title")
    h1= 'Hello ' + (teacher.teacherName)
    h2= 'Welcome to ManiStu'
    p= 'You can currently view and assess ' + (students.length) + ' students'